/* :root{
    --bg:#050505;
    --surface:#0d0d0d;
    --gold:#E8C27A;
    --gold-dark:#D9A441;
    --white:#F8F8F8;
    --gray:#9CA3AF;

    --glass:rgba(255,255,255,.05);
    --border:rgba(255,255,255,.08);

    --radius:32px;

    --transition:.4s cubic-bezier(.22,.61,.36,1);
} */

/* :root {
  --bg: #050505;
  --surface: #0d0d0d;

  --gold: #e8c27a;
  --gold-dark: #d9a441;

  --white: #f8f8f8;
  --gray: #9ca3af;

  --glass: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.08);

  --radius: 32px;

  --transition: .4s cubic-bezier(.22,.61,.36,1);

 
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;
} */

:root {

  /* ===========================
      COLORS
  =========================== */

  --background: #050505;
  --surface: #0D0D0D;

  --primary: #F8F8F8;
  --secondary: #9CA3AF;

  --accent: #E8C27A;
  --accent-dark: #D9A441;

  --glass: rgba(255,255,255,.05);
  --glass-hover: rgba(255,255,255,.08);

  --border: rgba(255,255,255,.08);

  /* ===========================
      RADIUS
  =========================== */

  --radius-sm: 12px;
  --radius-md: 18px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-pill: 999px;

  /* ===========================
      SHADOWS
  =========================== */

  --shadow-gold:
      0 0 20px rgba(232,194,122,.15);

  --shadow-glass:
      0 8px 30px rgba(0,0,0,.35);

  /* ===========================
      TRANSITION
  =========================== */

  --transition:
      .35s cubic-bezier(.22,.61,.36,1);

  /* ===========================
      FONTS
  =========================== */

  --font-heading:
      "Cormorant Garamond", serif;

  --font-body:
      "Inter", sans-serif;

}